.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}
.carousel-image-prop {
  display: block;
  width: 100%;
  height: 270px;
}
mat-card-title{
    text-align: center;
}
.carousel-shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
  